@model WebAppMVC_College.models.Student

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style type="text/css">
    h4 {
        font-size: 24px;
    }

    .card {
        box-shadow: 0 4px 8px 0 #8D8D8D;
        border-radius: 5px;
        transition: 0.3s;
        padding: 40px;
        width: 500px;
        height: 650px;
        position: relative;
        margin-top: 20px;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFFFFF;
    }

    .dropdown {
        font-size: 20px;
        padding: 5px 5px;
        border-color: #03A9F4;
        border-radius: 5px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }

    .input-group {
        position: relative;
    }

        .input-group .input-area {
            border: 1px solid #03A9F4;
            padding: 25px 12px;
            font-size: 20px;
            width: 400px;
            height: 24px;
            border-radius: 5px;
        }

            .input-group .input-area:focus {
                border: 0px solid #03A9F4;
            }

                .input-group .input-area:focus + .label {
                    top: -16px;
                    padding: 0 3px;
                    font-size: 20px;
                    color: #03A9F4;
                    border-radius: 5px;
                }

        .input-group .label {
            color: #8D8D8D;
            position: absolute;
            top: 20px;
            left: 13px;
            background: #FFFFFF;
            transition: 0.3s;
            border-radius: 5px;
        }

        .input-group .input-area:valid + .label {
            top: -10px;
            padding: 0 3px;
            font-size: 16px;
            color: #03A9F4;
            border-radius: 5px;
        }

    .blue-link {
        font-size: 24px;
        color: #03A9F4;
        text-decoration: none;
    }

        .blue-link:hover {
            color: #01579B;
            transition: 0.8s;
            text-decoration: none;
        }

    .blue-button {
        font-size: 24px;
        border-radius: 8px;
        padding: 14px 12px;
        background-color: #03A9F4;
        color: #FFFFFF;
        text-decoration: none;
    }

        .blue-button:hover {
            background-color: #01579B;
            color: #FFFFFF;
            transition: 0.8s;
            text-decoration: none;
        }

    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-image: url("/assets/img/create.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="card">
    @if (ViewBag.Status == "deleted")
    {
        <h6 style="text-align:center">Student Record Deleted.</h6>
    }
    <h2 style="font-size:40px; margin-left:20px; font-weight: bold;">Create</h2>
    @using (Html.BeginForm("Create", "Student", FormMethod.Post, new { enctype= "multipart/form-data"}))
    {
    <table align="center" style="margin-top:20px;margin-bottom:20px;">
        <tr>
            <td>
                <div class="input-group">
                    @Html.TextBoxFor(model => model.StudentName, new { @class = "input-area" })
                    @Html.LabelFor(model => model.StudentName, new { @class = "label" })
                    @Html.ValidationMessageFor(model => model.StudentName, "", new { @style = "color: red" })
                </div>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td>
                <div class="input-group">
                    @Html.TextBoxFor(model => model.StudentPhoneNo, new { @class = "input-area" })
                    @Html.LabelFor(model => model.StudentPhoneNo, new { @class = "label" })
                    @Html.ValidationMessageFor(model => model.StudentPhoneNo, "", new { @style = "color: red" })
                </div>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td style="font-size:18px;color: #03A9F4;">&nbsp;&nbsp;Gender</td>
        </tr>
        <tr>
            <td>
                @Html.DropDownListFor(model => model.StudentGender, new SelectList(Enum.GetValues(typeof(WebAppMVC_College.models.GenderType))), new { @class = "dropdown" })
            </td>
        </tr>
        <tr>
            <td>@Html.ValidationMessageFor(model => model.StudentGender, "", new { @style = "color: red" })</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td style="font-size:18px;color: #03A9F4;"> &nbsp; @Html.LabelFor(model => model.ImageFile) </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(model => model.ImageFile, new { type = "file" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ValidationMessageFor(model => model.ImageFile, "", new { @style = "color: red" })
            </td>
        </tr>
    </table>
        <br />
        <table align="center">
            <tr>
                <td style="position: absolute; margin-left: -200px;"><a href="/Student/Create" class="blue-link">Reset</a></td>
                <td style="position: absolute; margin-left: 110px;"><a href="#" class="blue-button" onclick="this.closest('form').submit(); return false;">Create</a></td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
        if (ViewBag.Status == "added")
        {
            <h6 style="text-align:center">Student Record Added</h6>
            ViewBag.Status = null;
        }
    }
</div>
