@model WebAppMVC_College.models.Admin

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body style="text-align:center">
    <style type="text/css">
        h4 {
            font-size: 24px;
        }

        .card {
            box-shadow: 0 4px 8px 0 #8D8D8D;
            border-radius: 5px;
            transition: 0.3s;
            padding: 40px;
            width: 500px;
            height: 850px;
            position: relative;
            margin-top: 20px;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
            background-color: #FFFFFF;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
        }

        .input-group {
            position: relative;
        }

            .input-group .input-area {
                border: 1px solid #03A9F4;
                padding: 25px 12px;
                font-size: 20px;
                width: 400px;
                height: 24px;
                border-radius: 5px;
            }

                .input-group .input-area:focus {
                    border: 0px solid #03A9F4;
                }

                    .input-group .input-area:focus + .label {
                        top: -16px;
                        padding: 0 3px;
                        font-size: 20px;
                        color: #03A9F4;
                        border-radius: 5px;
                    }

            .input-group .label {
                color: #8D8D8D;
                position: absolute;
                top: 20px;
                left: 13px;
                background: #FFFFFF;
                transition: 0.3s;
                border-radius: 5px;
            }

            .input-group .input-area:valid + .label {
                top: -10px;
                padding: 0 3px;
                font-size: 16px;
                color: #03A9F4;
                border-radius: 5px;
            }

        .blue-link {
            font-size: 24px;
            color: #03A9F4;
            text-decoration: none;
        }

            .blue-link:hover {
                color: #01579B;
                transition: 0.8s;
                text-decoration: none;
            }

        .blue-button {
            font-size: 24px;
            border-radius: 8px;
            padding: 14px 12px;
            background-color: #03A9F4;
            color: #FFFFFF;
            text-decoration: none;
        }

            .blue-button:hover {
                background-color: #01579B;
                color: #FFFFFF;
                transition: 0.8s;
                text-decoration: none;
            }

        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-image: url("/Images/orders.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <script type="text/javascript">
        function validatePassword() {
            var password = document.getElementById("AdminPassword").value;
            var confirmPassword = document.getElementById("AdminConfirmPassword").value;
            if (password != confirmPassword) {
                alert("Password and Confirm Password Fields Do Not Match !");
                return false;
            }
            return true;
        }
    </script>
    <div class="card">
        <h2 style="font-size:40px; font-weight: bold;">Registration</h2>
        <br/>
        @using (Html.BeginForm("Registration", "Admin", FormMethod.Post, new { onsubmit = "return validatePassword();" }))
        {
            <table align="center">
                <tr>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.AdminFirstName, new { @class = "input-area" })
                            @Html.LabelFor(model => model.AdminFirstName, new { @class = "label" })
                            @Html.ValidationMessageFor(model => model.AdminFirstName,"", new { @style = "color: red" })
                        </div>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.AdminLastName, new { @class = "input-area" })
                            @Html.LabelFor(model => model.AdminLastName, new { @class = "label" })
                            @Html.ValidationMessageFor(model => model.AdminLastName, "", new { @style = "color: red" })
                        </div>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.AdminEmail, new { @class = "input-area" })
                            @Html.LabelFor(model => model.AdminEmail, new { @class = "label" })
                            @Html.ValidationMessageFor(model => model.AdminEmail, "", new { @style = "color: red" })
                        </div>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.AdminPhoneNo, new { @class = "input-area" })
                            @Html.LabelFor(model => model.AdminPhoneNo, new { @class = "label" })
                            @Html.ValidationMessageFor(model => model.AdminPhoneNo, "", new { @style = "color: red" })
                        </div>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            @Html.PasswordFor(model => model.AdminPassword, new { @class = "input-area" })
                            @Html.LabelFor(model => model.AdminPassword, new { @class = "label" })
                            @Html.ValidationMessageFor(model => model.AdminPassword, "", new { @style = "color: red" })
                        </div>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            @Html.PasswordFor(model => model.AdminConfirmPassword, new { @class = "input-area" })
                            @Html.LabelFor(model => model.AdminConfirmPassword, new { @class = "label" })
                            @Html.ValidationMessageFor(model => model.AdminConfirmPassword, "", new { @style = "color: red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            <br />
            <br />
            <table align="center">
                <tr>
                    <td style="position: absolute; margin-left: -200px;"><a href="Login" class="blue-link">Login</a></td>
                    <td style="position: absolute; margin-left: 100px;"><a href="#" class="blue-button" onclick="this.closest('form').submit(); return validatePassword();">Sign-Up</a></td>
                </tr>
            </table>
        }
        <br />
        <br />
        <br />
        @if (Model.AdminEmail == "AdminInvalid")
        {
            <div style="text-align:center">
                <h6>Invalid Details</h6>
            </div>
        }
        @if (Model.AdminEmail == "AdminRegistered")
        {
            <div style="text-align:center">
                <h6>Registration Successful</h6>
            </div>
        }
        @if (Model.AdminEmail == "AdminExists")
        {
            <div style="text-align:center">
                <h6>Customer already exists. Please Login.</h6>
            </div>
        }
    </div>
</body>
</html>

